In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.tree import plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import joblib

In [102]:
np.random.seed(12)

In [126]:
tmp_speed1 = np.random.randint(0, 3, size=10000)
tmp_speed2 = np.random.randint(12, 40, size=10000)
tmp_speed2 = np.random.randint(0, 40, size=20000)

tmp_speed11 = np.random.randint(12, 40, size=10000)
tmp_speed22 = np.random.randint(0, 3, size=10000)
tmp_speed33 = np.random.randint(0, 40, size=20000)


tilt1 = np.random.randint(0, 200, size=10000)
tilt2 = np.random.randint(0, 200, size=10000)
tilt3 = np.random.randint(0, 500, size=20000)

speed1 = np.concatenate((tmp_speed1, tmp_speed2, tmp_speed3))
speed2 = np.concatenate((tmp_speed11, tmp_speed22, tmp_speed33))
tilt = np.concatenate((tilt1, tilt2, tilt3))

In [127]:
data = []
for i in zip(speed1, speed2, tilt):
    data.append(list(i))

data = np.array(data)

In [128]:
label = []
for i in data:
    if i[0] >= 12 and i[1] <= 3 and i[2] <= 200:
        label.append(1)
    elif i[0] <=3 and i[1] >= 12 and i[2] <= 200:
        label.append(1)
    else:
        label.append(0)

label = np.array(label)

In [129]:
datas = pd.DataFrame({
    'speed1':speed1,
    'speed2':speed2,
    'tilt':tilt,
    'label':label
})
datas

       speed1  speed2  tilt  label
0           1      16    39      1
1           2      27     4      1
2           2      36   152      1
3           1      17    17      1
4           0      15   194      1
...       ...     ...   ...    ...
39995      24      12   112      0
39996      17      25   438      0
39997      21      26   148      0
39998      39      12   237      0
39999      24      32   185      0

[40000 rows x 4 columns]

In [130]:
x_train, x_test, y_train, y_test = train_test_split(data, label, 
                                                      test_size=0.2,
                                                      random_state=81,
                                                      shuffle=True,
                                                      stratify=label)

In [131]:
ss = StandardScaler()
ss.fit(x_train)
x_train_scaled= ss.transform(x_train)
x_test_scaled= ss.transform(x_test)

In [132]:
params = {'min_impurity_decrease': [0.0001, 0.0002, 0.0003, 0.0004, 0.0005]}

In [134]:
lr = LogisticRegression()
lr.fit(x_train_scaled, y_train)

lr_pred=lr.predict(x_test_scaled)
print(accuracy_score(y_test, lr_pred))

0.76175

In [133]:
gs_dt= GridSearchCV(DecisionTreeClassifier(random_state=221), params, n_jobs=-1)
gs_dt.fit(x_train_scaled, y_train)
dt_clf = gs_dt.best_estimator_

dt_clf_pred=dt_clf.predict(x_test_scaled)
print(accuracy_score(y_test, dt_clf_pred))

0.999875

In [137]:
gs_rf= GridSearchCV(RandomForestClassifier(random_state=221), params, n_jobs=-1)
gs_rf.fit(x_train_scaled, y_train)
rf_clf = gs_rf.best_estimator_

rf_clf_pred=rf_clf.predict(x_test_scaled)
print(accuracy_score(y_test, rf_clf_pred))

0.99875

In [136]:
temp = [[]]
temp[0].append(20)
temp[0].append(0)
temp[0].append(180)

print(temp)
temp_scaled=ss.transform(temp)
dt_clf_pred=dt_clf.predict(temp_scaled)
lr_pred=lr.predict(temp_scaled)
print(dt_clf_pred)

[[20, 0, 180]]
[1]
[0]

In [140]:
joblib.dump(dt_clf, './dt_clf.pkl')

['./dt_clf.pkl']

In [141]:
joblib.dump(ss, './ss.pkl')

['./ss.pkl']